/rethinkdb
/mosquitto/data
.DS_Store

frontend/.trunk
backend/.trunk

.pytest_cache
.venv
__pycache__
.env*
!.env.example

replay.csv
.ipynb_checkpoints
ranch.tif
.cache
htmlcov
.coverage

caddy_config
caddy_data
caddy_data_prod
caddy_config_prod
