/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.leaflet-div-icon {
    background: transparent;
    border: none;
}

path.leaflet-interactive {
    cursor: unset;
}

.leaflet-bar {
    border-radius: 8px;
    overflow: hidden;
    border: none !important;
    box-shadow: 0px 3px 5px -1px rgba(145, 158, 171, 0.2),0px 5px 8px 0px rgba(145, 158, 171, 0.14),0px 1px 14px 0px rgba(145, 158, 171, 0.12) !important;
}
